<div class="vhfull cont-horiz" style="background: #FAFAFC;">
  <div class="cont-vert-around box2">
    <h2>Войдите с помощью номера телефона</h2>
    <div class="phone cont-horiz-start">
      <img src="assets/img/flag_rus.png" class="flag" alt="">
      <img src="assets/img/bottom.png" alt="">
      <div class="v-line"></div>
      <input class="input-text" [(ngModel)]="phone" (ngModelChange)="getPhone($event)" name="name" placeholder="+7(000)"
             [style.border-style]="error ? 'solid' : 'none'"
             [style.border-color]="error ? 'red' : 'none'"/>
    </div>
    <div class="cont-horiz-start">
      <div class="checkbox">✓</div>
      <p>Согласен с <span style="color: #67C4B2;"> правилами и условиями</span></p>
    </div>
    <div class="cont-horiz">
      <div class="btn2 button-text cont-vert" (click)="back()">Назад</div>
      <div class="btn2 button-text cont-vert" (click)="next()">Далее</div>
    </div>
  </div>
</div>
